*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #0f1111;
}

.logo {
    font-size: 25px;
    margin-right: 200px;
    color: #f08804;
    text-decoration: none;
}

.anchor {
    margin-right: 200px;
    color: white;
    text-decoration: none;
}

.search {
    padding: 7px;
}

button {
    background-color: #f08804;
    color: white;
}

.content {
    display: flex;
    height: 600px;
}

#c1{
    height: 100px;
    width: 100px;
    background-color: rgba(255,0,0,0.5);
    border: 2px solid black;
}

#c2{
    height: 100px;
    width: 100px;
    background-color: rgba(0,255,0,0.5);
    border: 2px solid black;
}

#c3{
    height: 100px;
    width: 100px;
    background-color: rgba(0,0,255,0.5);
    border: 2px solid black;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}