* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 60px;
    border: 2px solid white;
    background-color: #0f1111;
}

.logo {
    font-size: 25px;
    ;
    margin-right: 200px;
    color: #f08804;
    text-decoration: none;
}

.anchor {
    margin-right: 200px;
    color: white;
    text-decoration: none;
}

.search {
    padding: 7px;
}

button {
    background-color: #f08804;
    color: white;
}