.outer {
    width: 120px;
    height: 350px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px;
}

#b1 {
    background-color: red;
}

#b2 {
    background-color: orange;
}

#b3 {
    background-color: green;
}